-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."JenisAbsenKantor" AS ENUM ('MASUK', 'PULANG');

-- CreateEnum
CREATE TYPE "public"."JenisPengajuanIzin" AS ENUM ('IZIN', 'SAKIT', 'KLARIFIKASI_ABSEN');

-- CreateEnum
CREATE TYPE "public"."MetodeAbsensiKantor" AS ENUM ('LINK_PERSONAL', 'MANUAL_ADMIN', 'PENGAJUAN_KARYAWAN');

-- CreateEnum
CREATE TYPE "public"."PrioritasTodo" AS ENUM ('RENDAH', 'SEDANG', 'TINGGI');

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('SUPER_ADMIN', 'KARYAWAN', 'ADMIN_KANTOR');

-- CreateEnum
CREATE TYPE "public"."StatusAbsensiKantor" AS ENUM ('HADIR', 'TERLAMBAT', 'ALPHA', 'IZIN', 'SAKIT');

-- CreateEnum
CREATE TYPE "public"."StatusPengajuan" AS ENUM ('PENDING', 'DISETUJUI', 'DITOLAK');

-- CreateEnum
CREATE TYPE "public"."StatusSesiKantor" AS ENUM ('AKTIF', 'SELESAI');

-- CreateEnum
CREATE TYPE "public"."StatusTodo" AS ENUM ('TODO', 'IN_PROGRESS', 'DONE');

-- CreateTable
CREATE TABLE "public"."AbsensiKantor" (
    "id" TEXT NOT NULL,
    "karyawanId" TEXT NOT NULL,
    "tanggal" DATE NOT NULL,
    "sesiMasukId" TEXT,
    "sesiPulangId" TEXT,
    "waktuAbsenMasuk" TIMESTAMP(3),
    "waktuAbsenPulang" TIMESTAMP(3),
    "status" "public"."StatusAbsensiKantor" NOT NULL,
    "durasiKerja" INTEGER,
    "isIncomplete" BOOLEAN NOT NULL DEFAULT false,
    "metode" "public"."MetodeAbsensiKantor" NOT NULL,

    CONSTRAINT "AbsensiKantor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ExportLog" (
    "id" TEXT NOT NULL,
    "exportedById" TEXT NOT NULL,
    "bulan" INTEGER NOT NULL,
    "tahun" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExportLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PengajuanIzin" (
    "id" TEXT NOT NULL,
    "karyawanId" TEXT NOT NULL,
    "jenis" "public"."JenisPengajuanIzin" NOT NULL,
    "tanggalMulai" DATE NOT NULL,
    "tanggalSelesai" DATE NOT NULL,
    "alasan" TEXT NOT NULL,
    "lampiranUrl" TEXT,
    "status" "public"."StatusPengajuan" NOT NULL DEFAULT 'PENDING',
    "diprosesOlehId" TEXT,
    "catatanApproval" TEXT,
    "adaKonflikAbsen" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PengajuanIzin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SesiAbsenKantor" (
    "id" TEXT NOT NULL,
    "tanggal" DATE NOT NULL,
    "jenisAbsen" "public"."JenisAbsenKantor" NOT NULL,
    "dibuatOlehId" TEXT NOT NULL,
    "waktuDibuat" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "public"."StatusSesiKantor" NOT NULL DEFAULT 'AKTIF',

    CONSTRAINT "SesiAbsenKantor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SesiLogin" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "refreshTokenHash" TEXT NOT NULL,
    "deviceInfo" TEXT,
    "ipAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "lastUsedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "SesiLogin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TodoItem" (
    "id" TEXT NOT NULL,
    "karyawanId" TEXT NOT NULL,
    "judul" TEXT NOT NULL,
    "deskripsi" TEXT,
    "deadline" DATE,
    "status" "public"."StatusTodo" NOT NULL DEFAULT 'TODO',
    "prioritas" "public"."PrioritasTodo" NOT NULL DEFAULT 'SEDANG',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TodoItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TokenAbsenKaryawan" (
    "id" TEXT NOT NULL,
    "sesiAbsenKantorId" TEXT NOT NULL,
    "karyawanId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "isUsed" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "TokenAbsenKaryawan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "namaLengkap" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkLog" (
    "id" TEXT NOT NULL,
    "karyawanId" TEXT NOT NULL,
    "tanggal" DATE NOT NULL,
    "dikerjakanHariIni" TEXT NOT NULL,
    "rencanaBesok" TEXT NOT NULL,
    "blocker" TEXT,
    "isPrivat" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "adminFeedback" TEXT,

    CONSTRAINT "WorkLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "AbsensiKantor_karyawanId_tanggal_key" ON "public"."AbsensiKantor"("karyawanId" ASC, "tanggal" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SesiLogin_refreshTokenHash_key" ON "public"."SesiLogin"("refreshTokenHash" ASC);

-- CreateIndex
CREATE INDEX "SesiLogin_userId_idx" ON "public"."SesiLogin"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TokenAbsenKaryawan_sesiAbsenKantorId_karyawanId_key" ON "public"."TokenAbsenKaryawan"("sesiAbsenKantorId" ASC, "karyawanId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "TokenAbsenKaryawan_token_key" ON "public"."TokenAbsenKaryawan"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "WorkLog_karyawanId_tanggal_key" ON "public"."WorkLog"("karyawanId" ASC, "tanggal" ASC);

-- AddForeignKey
ALTER TABLE "public"."AbsensiKantor" ADD CONSTRAINT "AbsensiKantor_karyawanId_fkey" FOREIGN KEY ("karyawanId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AbsensiKantor" ADD CONSTRAINT "AbsensiKantor_sesiMasukId_fkey" FOREIGN KEY ("sesiMasukId") REFERENCES "public"."SesiAbsenKantor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AbsensiKantor" ADD CONSTRAINT "AbsensiKantor_sesiPulangId_fkey" FOREIGN KEY ("sesiPulangId") REFERENCES "public"."SesiAbsenKantor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ExportLog" ADD CONSTRAINT "ExportLog_exportedById_fkey" FOREIGN KEY ("exportedById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PengajuanIzin" ADD CONSTRAINT "PengajuanIzin_diprosesOlehId_fkey" FOREIGN KEY ("diprosesOlehId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PengajuanIzin" ADD CONSTRAINT "PengajuanIzin_karyawanId_fkey" FOREIGN KEY ("karyawanId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SesiAbsenKantor" ADD CONSTRAINT "SesiAbsenKantor_dibuatOlehId_fkey" FOREIGN KEY ("dibuatOlehId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SesiLogin" ADD CONSTRAINT "SesiLogin_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TodoItem" ADD CONSTRAINT "TodoItem_karyawanId_fkey" FOREIGN KEY ("karyawanId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TokenAbsenKaryawan" ADD CONSTRAINT "TokenAbsenKaryawan_karyawanId_fkey" FOREIGN KEY ("karyawanId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TokenAbsenKaryawan" ADD CONSTRAINT "TokenAbsenKaryawan_sesiAbsenKantorId_fkey" FOREIGN KEY ("sesiAbsenKantorId") REFERENCES "public"."SesiAbsenKantor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkLog" ADD CONSTRAINT "WorkLog_karyawanId_fkey" FOREIGN KEY ("karyawanId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

